:root {
    --MainColor: rgba(10,26,57,1);
    --AltColor: rgba(138,111,128,1);
    --Neut1Color: rgba(194,181,177,1);
    --Neut2Color: rgba(175,177,160,1);
    --FunFont: 'Cinzel Decorative', cursive;
    --MonoFont: 'Syne Mono', monospace;
    --SansFont: 'Dosis', sans-serif;
}

body {
    width: 100%;
}

nav {
    background-color: var(--MainColor);
    text-align: center;
    position: fixed;
    top: 0px;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
}

nav button {
    display: inline;
    color: var(--Neut2Color);
    letter-spacing: 1px;
}