<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/searchpage.css' />
    <link rel='stylesheet' type='text/css' href='/css/login-signup.css' />
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Roboto:wght@300&display=swap");
    </style>
    <title>Document</title>
  </head>

  <body>
    <nav></nav>
    <section class='link'>
      <a href='/index'>Home</a>
      <a href='/search'>Search</a>
      <a href='/login'>Login</a>
      <a href='/register'>Register</a>
    </section>
    {{{body}}}
  </body>

</html>