<header class="flexCont">
  <img class="homepage-logo" src='/images/unplayable-logo-alt.png' alt='unplayable logo' />
  <h2>register an account to begin</h2>
  <h6> <a href="#mission">learn more about us</a></h6>
</header>
<section id="mission">
  <div class="missionContent">
    <center>
      <h1>Who We Are</h1>
    </center>
    Most people who have dabbled in PC gaming have come across the same variety of problem. You buy a game that you're
    excited for, but something goes wrong. The graphics aren't right. It's too slow. Your computer lags. There isn't
    enough space to download the game.
    <br><br>
    Even if you know what components your computer comes with, who's to say if it's newer or older than the recommended
    minimum? That is where Unplayable comes in.
    <br><br>
    Unplayable is an application that will cross reference your computer's components with Steam's recommended minimum
    to play their games. You'll be given statistics on whether the game you're looking at will run well, passably, or if
    it's not recommended on the device in question.
    <br><br>
    Register an account through the link at the top of the page to get started.
  </div>
</section>
<footer></footer>
<section class="footerContent">
  <div class="footerFlex">
    <img class="footer-logo" src='/images/unplayable-logo-alt.png' alt='unplayable logo' /><br>
    <a href="link to git" class="contributor">first last</a>
    <a href="link to git" class="contributor">first last</a>
    <a href="link to git" class="contributor">first last</a>
    <a href="link to git" class="contributor">first last</a>
  </div>
  <div class="footerFlex">
    <a href="https://store.steampowered.com/"><p>powered by steam <i class="fab fa-steam"></i></p></a>
  </div>
</section>