<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>site title</title>
  <link rel="stylesheet" type="text/css" href="../public/css/jass.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/index.css" />
</head>

<body>
  <nav> 
    <button href="/login">login</button>
    <button href="/signup">sign up</button>
  </nav>  

</body>

</html>