<nav>
  <div class="link" href="/login">login</div>
  <div class="link" href="/signup">sign up</div>
</nav>
<header class="flexCont">
  <h1>Unplayable</h1>
  <h2>some kind of description</h2>
  <h6>learn more about us</h6>
</header>