<div class='login-main-container'>
  <div class='login-left-container'>
    <h2 class='login-left-header'>New Here?</h2>
    <p class='login-left-text'>Sign up and discover all the games you can play!</p>
    <a class='login-btn' href='/signup'>Sign Up</a>
  </div>
  <div class='login-right-container'>
    <section class='login-form-container'>
      <form id='login' class='login-main-form-element'>
        <h4>Login</h4>
        <label for='form-email'>Email</label>
        <input type='email' id='form-email' />
        <label for='form-password'>Password</label>
        <input type='text' id='form-password' />
        <button class='btn btn-form' type="submit">Login</button>
        <div id="warning"></div>
      </form>
    </section>
  </div>
</div>