<div class='login-main-container'>
  <div class='login-left-container'>
    <h2 class='login-left-header'>Already with us?</h2>
    <p class='login-left-text'>Log back in and discover all the new games you
      can play!</p>
    <a class='login-btn' href='/login'>Login</a>
  </div>
  <div class='login-right-container'>
    <section class='login-form-container'>
      <form id="register" class='login-main-form-element'>
        <h4>Register An Account</h4>
        <label for='form-username'>Username</label>
        <input type='text' id='form-username' />
        <label for='form-email'>Email</label>
        <input type='email' id='form-email' />
        <label for='form-password'>Password</label>
        <input type='password' id='form-password' />
        <button class='btn btn-form' type="submit">Register</button>
        <div id="warning"></div>
      </form>
    </section>
  </div>
</div>

<script src="/js/register.js"></script>