<nav></nav>
<section class='link'>
  <a href='/login'>login</a>
  <a href='/signup'>sign up</a>
</section>
<section class='search-showcase'>
  <div class='search-header'>
    <h2>Search for a game!</h2>
  </div>
  <div class='search-bar-btn'>
    <input class='search-input' type='text' placeholder='Search..' />
    <button class='search-btn'>Search</button>
  </div>
</section>
<div class='search-page-container'>
  <main class='search-main-conatiner'>
    <section class='card-container'>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>
      <div
        style="background-image: url('https://source.unsplash.com/random/300×300');"
        class='card'
      >
        <p class='card-title'>Example Title</p>
      </div>

    </section>
  </main>
</div>