<div class='login-main-container'>
  <div class='login-left-container'>
    <h2 class='login-left-header'>Already with us?</h2>
    <p class='login-left-text'>Log back in and discover all the new games you
      can play!</p>
    <a class='login-btn' href='/login'>Login</a>
  </div>
  <div class='login-right-container'>
    <section class='login-form-container'>
      <form class='login-main-form-element'>
        <h4>Sign Up</h4>
        <label for='form-username'>Username</label>
        <input type='email' id='form-username' />
        <label for='form-email'>Email</label>
        <input type='email' id='form-email' />
        <label for='form-message'>Password</label>
        <input type='text' id='form-password' />
        <button class='btn btn-form'>Next</button>
      </form>
    </section>
  </div>
</div>